<template>
  <Layout>
    <h1>About Quinn</h1>
    <p>Aspiring math/CS wizard. Favorite fiction is <a href="https://www.hpmor.com">HPMOR</a>, favorite nonfiction are <a href="https://mindingourway.com/guilt">Replacing Guilt</a> and <a href="https://softwarefoundations.cis.upenn.edu/">Software Foundations</a>.</p>

    <h1>Currently</h1>
    <p>Wrapping up several wonderful months at Platonic.Systems and starting a Quantified Uncertainty Research Institute where I'll be building out the developer ecosystem for future epistemic public goods projects. </p>

    <h1>Contact</h1>
    <p>Reach out over email at quinnd at riseup dot net</p>
    <p>Or on discord at quinn#9100</p>

    <h1>My beliefs and values</h1>
    Briefly, I tend to believe that
    <ol>
      <li><i>Believing true things is hard</i>. You're better at accomplishing your goals when your model of the world is accurate, so it's desirable to believe true things. This takes a lot of effort, but it's worth it.</li> 
      <li><i>Sentience is in dire straits</i>. Evolution's optimization algorithms outputted an alarmingly small number of going-to-the-moon music-making creatures, and the ones that are around might totally blow it. Risk of permanently curtailing the opportunity to flourish is called <a href="https://futureoflife.org/background/existential-risk/">existential risk</a> or x-risk. In addition to direct x-risk, I think we're facing a gigantic crisis of <a href="https://www.turing.ac.uk/sites/default/files/2020-10/epistemic-security-report_final.pdf">epistemic security</a> or what some call <a href="https://forum.effectivealtruism.org/posts/qsiFQyihEuQEeNsfJ/ea-philly-s-infodemics-event-part-2-aviv-ovadya">epistemic competence</a>. Besides extinction, there are also outcomes <a href="https://centerforreducingsuffering.org/a-typology-of-s-risks/">worse</a> than extinction on the table, i.e. what happened to cows, pigs, and chickens. </li>
      <li><i>Sentience could do awesome things</i>. We've barely scratched the surface of beginning to appreciate how to start to conceptualize what <i>real</i> flourishing might look like. </li>
    </ol>
    The things I think are important are 
    <ol>
      <li>Preserving the ability for sentience to win</li>
      <li>Increasing what it means for sentience to win</li>
      <li>Increasing the circle of who's winning we care about</li>
      <li>Shrinking the domain of suffering</li>
    </ol>

    We have a lot to do. 

    <h1>Some old questlines</h1>
    <h2><a href="https://www.smat-app.com/">Social Media Analysis Toolkit</a></h2>
    Our targeted userbase is researchers and activists who specialize in disinformation, radicalization, and election meddling.
    The app queries public social media data and serves visualizations and datasets.
    I seeded the codebase and was largely responsible for early iterations of the app. <a href="https://gitlab.com/smat-project">Check it out on GitLab</a>.
    <ul>
      <li><a href="https://blog.smat-app.com/p/smat-and-media">Impact</a></li>
    </ul>

    <h2><a href="http://penn-chime.phl.io/">COVID-19 Hospital Impact Model for Epidemics</a></h2>
    Discrete-time SIR modeling of infections and recovery. I was a programmer and project manager on the team (<a href="https://github.com/CodeForPhilly/chime/pulls?q=is%3Apr+author%3Aquinn-dougherty+">view PRs</a>).
    <ul>
      <li><a href="https://twitter.com/mattyglesias/status/1246530493706899461">Matt Yglesias:</a>"IHME vs CHIME is the only debate that matters now."</li>
      <li><a href="https://www.washingtonpost.com/local/coronavirus-peak-dc-maryland-virginia/2020/04/03/0636bc6c-75cf-11ea-87da-77a8136c1a6d_story.html">The Washington Post: </a>"Coronavirus peak in D.C., Maryland, Virginia: FAQ on why models differ"</li>
    </ul>


    <h1>I was an artist before I was an aspiring computer scientist</h1>
    <p>Some <i>really</i> old questlines. I was a composer, film producer, theater artist, improvisor, and all around organizer in Philly's music scene 2013-2016.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y6ZhOFhqtA4"></iframe>
    <p>I assembled a libretto, composed music, and designed the set for this piece in 2013</p>
    <iframe src="https://player.vimeo.com/video/124787238" width="640" height="396" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <p> In 2014 I was a composer and producer (all around logistics/coordinator) on this feature film by Carman Spoto.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fm0UFmvkRKw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p> In 2015 I commissioned and premiered on guitar this piece by Jesse Austin alongside Michael Tan on piano </p>

  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'About'
  }
}
</script>
