<template>
  <Layout>
    <h1>Posts</h1>
	Some posts on <a href="https://www.lesswrong.com/users/quinn-dougherty" target="_blank" rel="noopener">LessWrong</a> or <a href="https://forum.effectivealtruism.org/users/quinn" target="_blank" rel="noopener">EA Forum</a> are not mirrored here. Only my best <a href="https://medium.com/@quinn.dougherty92" target="_blank" rel="noopener">Medium</a> and <a href="https://goodreads.com/quinndougherty" target="_blank" rel="noopener">Goodreads</a> posts are mirrored here.
    <section class="posts">
      <PostList v-for="edge in $page.allPost.edges" :key="edge.node.id" :post="edge.node" />
    </section>

  </Layout>
</template>

<page-query>
  query {
  allPost {
    totalCount
    edges {
      node {
        id
        title
        timeToRead
        path
      }
    }
  }
}
</page-query>

<script>
  import PostList from "@/components/PostList";
  export default {
    components: {
      PostList,
    },
    metaInfo: {
      title: "quinnd",
    },
  };
</script>
