<template>
  <Layout>

    <!-- Learn how to use images here: https://gridsome.org/docs/images -->
    <g-image alt="image" src="~/favicon.png" width="135" />

    <h1>Quinn Dougherty</h1>

    <p>
      He/him. Programmer.
    </p>

    <p class="home-links">
      <a href="https://github.com/quinn-dougherty" target="_blank" rel="noopener">GitHub</a>
      <a href="https://gitlab.com/quinn-dougherty" target="_blank" rel="noopener">GitLab</a>
      <a href="https://www.lesswrong.com/users/quinn-dougherty" target="_blank" rel="noopener">LessWrong</a>
      <a href="https://forum.effectivealtruism.org/users/quinn" target="_blank" rel="noopener">EA Forum</a>
      <a href="https://manifold.markets/Quinn" target="_blank" rel="noopener">Manifold</a>
      <a href="https://twitch.tv/quinndougherty92" target="_blank" rel="noopener">Twitch</a>
      <a href="https://medium.com/@quinn.dougherty92" target="_blank" rel="noopener">Medium</a>
      <a href="https://goodreads.com/quinndougherty" target="_blank" rel="noopener">Goodreads</a>
      <a href="https://www.youtube.com/channel/UC_VGEWvT4RSzsJyHseBT4KQ/videos?view_as=subscriber" target="_blank" rel="noopener">YouTube</a>
      <a href="https://technical-ai-safety.libsyn.com/" target="_blank" rel="noopener">LibSyn</a>
     <a href="https://www.dropbox.com/s/e2mceokf80df0d4/rat-dating-profile.odt?dl=0" target="_blank" rel="noopener">Date me</a>
    </p>
  </Layout>
</template>
<script>
export default {
  metaInfo: {
    title: 'Quinn Dougherty'
  }
}
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
